@import 'bourbon/bourbon';
$visual-grid: true;
@import 'neat/neat';

*, *::before, *::after {
  box-sizing: border-box;
}

body{

  background:black;
}

form {
  width: 500px;
  margin: 50px auto;
}

.search {
  padding: 8px 15px;
  background: rgba(50, 50, 50, 0.2);
  border: 0px solid #dbdbdb;
}

.buttonid {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
}

.buttonid:hover {
  background-color: #fafafa;
  color: #207cca;
}


.container {
  @include outer-container;
  background: black;
  height: 600px;
  margin-left:50px;

}

#etsy {
  position: inline-block;
  max-height: 100px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  align: left;
  background: white;
  border: 1px solid grey;

}

.header{

  position: inline-block;

}

.select{
  @include appearance(none);
  background-color: transparent;
  border: 1px solid #fff;
  margin: 10px 0;
}


.upperrow{

  @include span-columns(12);
}

.col {

  @include span-columns(3);
  @include omega(3n);
  margin-bottom: 10px;
  text-align:center;
  float: left;
  background-color: rgb (255,255,255);
  border: 1px solid #cccccc;
  padding:0px;

}

.image{

  margin-top:10px;
  border: 1px solid #cccccc;
}
.title{
  display: inline-block;
  width:150px;
  text-align: left;
  white-space: nowrap;      //keep the text on one line
  overflow: hidden;         //prevent the text from being shown outside the border
  text-overflow: ellipsis;
}

.owner {
  text-align: left;
  display: inline-block;
  float: left;
  margin-left:40px;
  margin-right: 40px;

}

.ownerone {
  display: inline-block;
  float: left;


}

.ownertwo {

  display: inline-block;
  float: right;

}
